# =========================================================
# 2-BOT UCHUN SOZLAMALAR (.env.bot2)
# =========================================================

# 2-Bot tokeni (@BotFather dan olingan 2-bot tokeni)
BOT_TOKEN=IKKINCHI_BOTINGIZ_TOKENI_SHU_YERGA

# Adminlar Telegram ID raqamlari (ikkala bot uchun bir xil)
ADMIN_IDS=6082944563,7960295847,7381087311

# Telegram API ma'lumotlari (ikkala bot uchun bir xil)
API_ID=35580133
API_HASH=0a078f448191e4f4ce033fddc0c31b54

# 2-bot bazasi va log fayli
DB_PATH=bot2.db
LOG_FILE=bot2.log
