# =========================================================
# 3-BOT UCHUN SOZLAMALAR (.env.bot3)
# =========================================================

# 3-Bot tokeni (@BotFather dan olingan 3-bot tokeni)
BOT_TOKEN=UCHINCHI_BOTINGIZ_TOKENI_SHU_YERGA

# Adminlar Telegram ID raqamlari
ADMIN_IDS=6082944563,7960295847,7381087311

# Telegram API ma'lumotlari
API_ID=35580133
API_HASH=0a078f448191e4f4ce033fddc0c31b54

# 3-bot bazasi va log fayli
DB_PATH=bot3.db
LOG_FILE=bot3.log
