# =========================================================
# SuperTaxi Telegram Bot - Konfiguratsiya namunasi
# =========================================================
# 1-bot uchun: .env.bot1 faylini yarating (yoki cp .env.bot1.example .env.bot1)
# 2-bot uchun: .env.bot2 faylini yarating (yoki cp .env.bot2.example .env.bot2)
# =========================================================

# 1. Telegram Bot Token (@BotFather)
BOT_TOKEN=8925013646:AAFqFNfqJw0hg2pwOZ1hd8Z_WVAEiqWZLvc

# 2. Bot adminlarining Telegram ID raqamlari (Ikkala bot uchun ham bir xil)
ADMIN_IDS=6082944563,7960295847,7381087311

# 3. Telegram API ma'lumotlari (Ikkala bot uchun ham bir xil)
API_ID=35580133
API_HASH=0a078f448191e4f4ce033fddc0c31b54

# 4. Ma'lumotlar bazasi va Log fayli yo'li
# 1-bot: bot1.db / bot1.log
# 2-bot: bot2.db / bot2.log
DB_PATH=bot1.db
LOG_FILE=bot1.log
